@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poetsen+One&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #02DBB0  ;
  --secondary-color: #0235DB ;
  --accent1-color: #027ADB;
  --accent2-color: #42C6DB;

  /* change the values below to your chosen font(s) */
  --heading-font: "Bebas Neue", sans-serif, serif;
  --paragraph-font: "Poetsen One", sans-serif, serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #02DBB0;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #02BEDB; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #02DBB0  ;
  --nav-link-color: white;
  --nav-background-color: #0235DB;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}
.home-title{
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
    color:black
}

body {
    background-color: white; 
    color: black;
    padding:0;
    margin:0 auto;
}

#content{
    max-width: 100%;
    margin:0 auto;
    color: black;
    
}

h2{
    margin:0;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding:35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    color: white;
}

.button-box{
    text-align: center;
    color: black;
}

main section{
    text-align: center;
    color: black;
}

#background {
    height: 725px;
    background-color: aquamarine;
    color: black;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains{
    margin:100px 0;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #0235DB;
}
header {
    background-color:#02DBB0;
    color: black;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    color: black;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: black;
    color: black;
}
.book, .join{
   background-color:#02dbcd;
   color: black;
   text-decoration: none;
   padding: 15px 30px;
   margin-top: 50px;
   border-radius: 5px;
}
.book:hover, .join:hover{
    background-color:black ;
}
.msg{
    background-color:#02BEDB;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #0235DB;
}
.msg p {
    padding-bottom: 15px
}
footer{
    background-color:#02BEDB ;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color:black;
    text-decoration: none;
}
footer a:hover{
    color:black;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-img{
    width: 100%;
}
#hero-box{
    grid-column: 1/6;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row:1/2;
    margin-top: 100px;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.icon, .logo {
    width: 80px;
}
.icon{
    padding-top: 10px;
}
 footer p a:hover {
    text-decoration: underline;
}    
footer p {
    font-size: 2em;
}    

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #02DBB0;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1); 
}

main section img {
    box-sizing: border-box;
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row:2/3
}

#faq-vertical {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: auto;
    color: white;
}

#faq-vertical-img {
    width: 100%;
    height: auto;
}
#faq-text {
    grid-column: 1 / 2;
    margin-top: -850px;
    font-size: 25px;
}
.faquestions {
    grid-column: 2 / 3;
    grid-row: 1;
    color: black;
}
#faq-small {
    grid-column: 3 / 4;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}
#faq-small-img {
    width: 20%;
    height: auto;
    
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
