img {
    text-align: center;
    width: 40%

}

ol {
   font-weight: bolder;
    color:black;
    text-align: left;
    margin:0 auto;
}
    
a:hover {
        background-color: black;
        color: black;
    }

main{margin:0 auto}

h1, p{
    font-weight: bolder;
    color:white
}

body{
    text-align: center;
    background-color:#699fd2;
    margin:20%;
    
    
}
