
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;   
}

.tartsweet{
    text-align: center;
    font-size: 10em;
    grid-column: 1/3;
    justify-items: center;
}
.cherries{
    text-align: center;
    color:maroon;
    font-size:5em;
    grid-column: 2/3;
}
.grey-square{
    background-color: grey;
    grid-column: 2/3;
}
.cherries-pic{
text-align: center;
grid-column:1/2;
grid-row: 1/3;
}

body{
    margin:0auto;   
}